/* Google Web Font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body {
  font-family: 'Noto Sans KR', sans-serif;
  color: #222;
  font-weight: 300;
  margin: 0;
  outline: none;
}
a {
  color: #222;
  text-decoration: none;
}
.visual {
  position: relative;
}
.visual button {
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  width: 71px;
  height: 71px;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.5);
  border: none;
}
.visual button:before {
  font-family: 'xeicon';
  color: #fff;
  font-size: 45px;
}
.visual button.slick-prev {
  left: 50px;
  font-size: 0;
  color: tranparent;
}
.visual button.slick-prev:before {
  content: '\e93d';
}
.visual button.slick-next {
  right: 50px;
  font-size: 0;
  color: tranparent;
}
.visual button.slick-next:before {
  content: '\e940';
}