/* Google Web Fonts CDN */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');

body {
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 1.5em;
  margin: 0;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
a {
  text-decoration: none;
}
.custom input[type=checkbox] {
  display: none;
}
.custom label em {
  /*border: 1px solid red;*/
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  background: url(images/checkbox-02.png) no-repeat;
  background-position: left center;
}
.custom input[type=checkbox]:checked + label em {
  background-position: right center;
}

.grade input[type=radio] {
  display: none;
}
.grade label {
  cursor: pointer;
}
.grade label em {
  /*border: 1px solid red;*/
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin-right: 5px;
  background: url(images/radio-01.png) no-repeat;
  background-position: left center;
}
.grade input[type=radio]:checked + label em {
  background-position: right center;
}
.grade input[type=radio]:checked + label {
  color: crimson;
}









