/* Google Web Font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body {
  font-family: 'Noto Sans KR', sans-serif;
  color: #222;
  font-weight: 300;
  margin: 0;
}
a {
  color: #222;
  text-decoration: none;
}
.crew {
  border-collapse: collapse;
  width: 600px;
}
.crew td,
.crew th {
  text-align: center;
  padding: 5px;
}
.crew th {
  background-color: #222;
  color: #fff;
  border: none;
}
.crew tr {
  border-bottom: 1px solid #ddd;
}
.crew tr:last-child {
  /* border: none; */
}
.crew caption.headline {
  /* caption-side: bottom; */
  font-size: 26px;
  margin-bottom: 10px;
}
.crew caption.info {
  caption-side: bottom;
  text-align: right;
  font-size: 13px;
  color: #333;
  font-style: italic;
  margin-top: 10px;
}