/* Google Web Font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body {
  font-family: 'Noto Sans KR', sans-serif;
  color: #222;
  font-weight: 300;
  margin: 0;
  outline: none;
}
a {
  color: #222;
  text-decoration: none;
}