/* Google Web Font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body {
  font-family: 'Noto Sans KR', sans-serif;
  color: #222;
  font-weight: 300;
  margin: 0;
}
a {
  color: #222;
  text-decoration: none;
}
header {
  height: 100px;
  overflow: hidden;
}
nav {
  width: 960px;
  margin: 0 auto;
}
nav > ul > li{
  float: left;
  line-height: 50px;
  margin-right: 40px;
}
nav > ul > li > ul {
  width: 100%;
}