/* Google Web Font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Noto Sans KR', sans-serif;
  color: #222;
  font-weight: 300;
}
a {
  color: #222;
  text-decoration: none;
}
ul, li {
  list-style: none;
}
.blind {
  display: block;
  overflow: hidden;
  position: absolute;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}
.clear:after {
  content: '';
  display: block;
  clear: both;
}

/* header */
header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 500px;
  overflow: hidden;
  background: linear-gradient(white 50px, rgba(255,255,255,0.5) 50px, rgba(255,255,255,0.5));
}
header:after {
  content: '';
  position: absolute;
  top: 50px;
  left: 0;
  background-color: #666;
  width: 100%;
  height: 2px;
}
.inner {
  width: 1200px;
  margin: 0 auto;
}
h1 {
  float: left;
}

/* 주메뉴 */
nav {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.sns {
  float: right;;
}
.gnb>li, .sns>li {
  float: left;
  line-height: 50px;
}
.gnb>li a, .sns>li a {
  padding: 0 20px;
  color: #666;
}
.gnb>li a span {
  position: relative;
}
.gnb>li>a span:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -14px;
  width: 0;
  height: 2px;
  background-color: #f00;
  transition: 0.5s;
}
.gnb>li:hover span:after {
  width: 100%;
  left: 0;
}
nav>ul>li ul {
  width: 100%;
}
