/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');

/* Bootstrap Icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #222;
  line-height: 1.5em;
  margin: 0;
  background-color: #eee;
}
a {
  text-decoration: none;
  color: inherit;
}

/* Show and Hide Tab Content HTML */
.tab-inner {
  width: 700px;
  margin: 50px auto;
}
.tab-btn {}
.tab-btn a {
  background-color: #000;
  color: #fff;
  display: inline-block;
  width: 150px;
  text-align: center;
  padding: 10px;
  margin-right: -2px;
  font-weight: 500;
  text-transform: uppercase;
  border-top: 3px solid transparent;
  transition: 0.35s;
}
.tab-btn a:hover {
  color: royalblue;
}
.tab-btn a.active {
  background-color: #fff;
  color: royalblue;
  border-top: 3px solid royalblue;
}
.tab-content {
  position: relative;
}
.tab {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.35s;
  /* display: none; */
  background-color: #fff;
  padding: 25px;
}
.tab h2 {
  text-transform: uppercase;
  margin-top: 0;
}
.tab p {}
.tab img {
  width: 100%;
}
.tab:target {
  opacity: 1;
  visibility: visible;
  /* display: block; */
}
.tab:nth-child(1) {
  opacity: 1;
  visibility: visible;
}