/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  margin: 50px;
  line-height: 1.5em;
}
a {
  text-decoration: none;
}

/* Modal with target selector */
.modal {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: none;
}
.modal-content {
  background-color: #fff;
  width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  text-align: center;
  padding: 30px;
  animation: slidefade 0.35s linear;
}
.modal-content img {
  display: block;
  margin: 20px auto;
}
.btn-guide {
  background-color: #616BEE;
  color: #fff;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
  display: block;
  margin-top: 15px;
}
.btn-close {
  font-size: 2.5em;
  color: #999;
  position: absolute;
  right: 15px;
  top: 10px;
}
.modal:target {
  display: block;
}

@keyframes slidefade {
  0% {
    opacity: 0;
    margin-top: -100px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}
